/*
 * Common style file shared by all presentations.
 */

cite {
  font-style: normal;
}

/* avoid mathjax double-rendering issue */
mjx-assistive-mml {
  display: none;
}

.reveal {
  font-family: "Nunito", sans-serif;
  font-size: 180%;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
  font-family: 'Yanone Kaffeesatz';
  text-transform: inherit;
  text-shadow: none;
  color: #6d0505;
  margin-top: 1ex;
}

.reveal a[href^="http:"]::after, .reveal a[href^="https:"]::after {
  content: ' 🔗';
  vertical-align: super;
  font-size: 70%;
}

.reveal a[href^="mailto:"]::after {
  content: ' 📧';
  vertical-align: super;
  font-size: 70%;
}

.reveal a[href$=".py"]::after {
  content: ' 🐍';
  vertical-align: super;
  font-size: 70%;
}

.reveal .center h1>a {
  color: #6d0505;
}

.reveal .center h1>a:hover {
  text-shadow: #777 0 0 25px;
}

.code {
  font-family: 'Fira Code' !important;
}

/* Allow using about 80 chars on an FHD display. */
pre > code[class*="language-"] {
  font-size: 1.2em;
}

.reveal pre {
  width: 100%;
  box-shadow: none;
  border: none;
  font-family: 'Fira Code' !important;
  font-size: 55%;
  margin: 0;
  padding: 0;
}

.reveal pre code {
  padding: 0;
}

.reveal ul {
  margin-bottom: 1ex;
}

.container {
  display: flex;
}

.container.column {
  flex: 1;
}

li.implication {
  list-style-type: "\21D2";
  padding-left: 1ex;
}

.code {
  font-family: 'Fira Code', monospace;
}

/* Block Quotes */
.reveal blockquote {
  background: none;
  box-shadow: none;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 8px;
}

.reveal .center blockquote p {
  font-size: 150%;
}

blockquote p::before {
  content: '«';
}

blockquote p::after {
  content: '»';
}

/* Center table column headers */
/* tr:first-child th {
  text-align: center;
} */

.reveal table th, .reveal table td {
  border-bottom: none;
}

.reveal table tbody {
  border-bottom: 1px solid black;
}

/* Left align row headers */
/* Since the first rows first element is ambiguous, left aligning requires
   using the "left" class */
th, tr:first-child th.left {
  text-align: left;
}
/* Show the status of computer memory in a table */
table.memory {
  margin-top: 3ex;
}
table.memory td, table.memory th {
  font-family: 'Fira Code', monospace;
}


/* Show network packet / datagram / segment header */
table.header .vertical-lr {
  writing-mode: vertical-lr;
  line-height: 2em;
}
table.header {
  font-family: 'Fira Code', monospace;
  caption-side: bottom;
  table-layout: fixed;
}

.header caption {
  margin-top: 1em;
  /*font-size: initial;*/
  font-weight: bold;
}

table.header th, table.header td {
  text-align: center;
  border: 1px solid;
  vertical-align: middle;
  padding: 2px;
  margin: 0;
  min-width: 2em;
}

/* override reveal table setting */
table.header tbody tr:last-child th,
table.header tbody tr:last-child td {
  border-bottom: 1px solid;
}

.inline-box {
  text-align: center;
  display: inline-block;
}

/* effects for fragments */
.fragment.blur {
  filter: blur(5px);
  color: black;
}
.fragment.blur.visible {
  filter: none;
}

/* for the bibliography/ reference section */
div.slide div.reference {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
}

div.slide span.authors, div.slide span.editors {
  color: darkblue;
  font-variant: small-caps;
  display: block;
}
div.slide span.title {
  display: block;
  font-style: italic;
  font-weight: lighter;
}
div.slide span.pub_details {
  display: block;
  color: gray;
  font-size: 80%;
}
